{% load static %}
{% block content %}
<main>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Detalle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body col-md-12">
                    <form method="POST" action="{% url 'creardetalle'%}" class="col-md-12 text-center"> 
                        {% csrf_token %}
                        <table class="table table-inverse table-responsive">
                            <div class="mb-3 form-group">
                                <label for="cantidad" class="form-label">Cantidad</label>
                                <br>
                                <div>
                                    <input type="number" name="cantidad">
                                </div>
                            </div>
                        </table>
                        <br>
                        <div class="text-center" align="center">
                            <button type="submit" value="Buscar"class="btn btn-dark text-center"><i class="fa fa-check-circle"></i>Crear Detalle</button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}