{% load static %}
<footer class="bg-dark py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <span class="text-muted">&copy; David Sanabria Otero 2023</span>
            </div>
        </div>
    </div>
</footer>

<!-- Librerías de JavaScript -->
<script src="{% static 'bootstrap/js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'DataTables/Aplicar.js' %}"></script>
